# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Include specific binary files
!src/salesforcemcp/__pycache__/implementations.cpython-310.pyc
!src/salesforcemcp/__pycache__/sfdc_client.cpython-310.pyc

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 