<fields>
    <fullName>##api_name##</fullName>
    <externalId>false</externalId>
    <label>##name##</label>
    <required>false</required>
    <trackTrending>false</trackTrending>
    ##type##
    <unique>false</unique>
</fields>
